<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<dict>
			<key>firstName</key>
			<string>Bella</string>
			<key>lastName</key>
			<string>Boudreaux</string>
			<key>email</key>
			<string>bella@boudreaux.net</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Esmee</string>
			<key>lastName</key>
			<string>Kim</string>
			<key>email</key>
			<string>esmee@gogocowy.com</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Hal</string>
			<key>lastName</key>
			<string>Jordan</string>
			<key>email</key>
			<string>hal_jordan@oa.net</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Ian</string>
			<key>lastName</key>
			<string>Stanley</string>
			<key>email</key>
			<string>istanley@kittyloft.org</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Jose</string>
			<key>lastName</key>
			<string>Cuervo</string>
			<key>email</key>
			<string>jose@ichc.com</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Kit</string>
			<key>lastName</key>
			<string>En</string>
			<key>email</key>
			<string>kit_en@nackla.org</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Leela</string>
			<key>lastName</key>
			<string>Turanga</string>
			<key>email</key>
			<string>leela@nackla.org</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Lolita</string>
			<key>lastName</key>
			<string>Levy</string>
			<key>email</key>
			<string>lolita@levygroup.com</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Manny</string>
			<key>lastName</key>
			<string>Sullivan</string>
			<key>email</key>
			<string>manny.sullivan@me.com</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Nora</string>
			<key>lastName</key>
			<string>Emmet</string>
			<key>email</key>
			<string>nora@emmet.org</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Otto</string>
			<key>lastName</key>
			<string>Britt</string>
			<key>email</key>
			<string>otto@phigment.org</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Sully</string>
			<key>lastName</key>
			<string>Sullenberger</string>
			<key>email</key>
			<string>sully@usair.com</string>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Wilson</string>
			<key>lastName</key>
			<string>Emmet</string>
			<key>email</key>
			<string>wilson@emmet.com</string>
		</dict>
	</array>
</dict>
</plist>
